# Default ignored files
/shelf/
/workspace.xml

# Compiled class files
*.class

# Logs
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Eclipse
.settings/
.project
.classpath

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Maven or Gradle build directory
target/
build/

# Temporary files
*.tmp
*.swp
.DS_Store
